@import "tailwindcss";

/* @font-face {
  font-family: 'IRANSans';
  src: url('../fonts/IRANSansWeb.woff2') format('woff2'),
       url('../fonts/IRANSansWeb.woff') format('woff'),
       url('../fonts/IRANSansWeb.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
} */

body {
  font-family: 'Vazir', sans-serif;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
}
